/* Estilo base para el footer */
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #e7e7e7;
}

.footerContainer {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
}

.footerContainer img {
  width: 100px;
}

.textoFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.copyright {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  width: 50%;
}
.navFooter {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.sobreMi {
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  color: #ffffff;
  list-style: none;
}

@media screen and (max-width: 668px) {
  .footer {
    text-align: -webkit-center;
  }

  .footerContainer {
    align-items: center;
    display: table-column;
    justify-content: space-between;
  }
}
