.projects {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.columnasProjectos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #aeaeae;
}

h4 {
  color: #ced18b;
  filter: brightness(1.1);
}

.leftColumn {
  flex: 1;
  position: sticky;
  top: 0;
  /* margin-left: 50px; */
  height: 100vh;
}

.rightColumn {
  flex: 1;
  /* margin-right: 50px; */
  background-color: #e15e4a;
  filter: brightness(1.1);
}

.invertido {
  flex-direction: row-reverse; /* Quedaria mejor invertir??  */
}

.numeroProject {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 5px solid #ced18b;
  opacity: 0.8;
  color: #000000;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 1rem;
  padding: 5px;
  margin-left: 10px;
  font-weight: bold;
}

.numeroProject::before {
  content: "";
  position: absolute;
  top: 43px;
  left: 10px;
  z-index: -1;
  width: 7%;
  height: 5%;
  background: linear-gradient(45deg, #ffffff, #e15e4a, #ced18b, #62929e);
  background-size: 800%;
  border-radius: 100%;
  filter: blur(10px);
  animation: glowing 20s linear infinite;
}

.tituloProject {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ced18b;
  margin: auto;
  padding: 10px;
  filter: drop-shadow(0 0 0.75rem #ced18b);
}

.descripcionProject {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  margin-top: 10px;
  padding: 10px;
  margin: auto;
}

.skillsProjecto {
  font-size: 1rem;
  font-weight: 400;
  color: #090909;
  margin-top: 10px;
  padding: 10px;
  margin: auto;
}

.linksProjecto {
  font-size: 1rem;
  font-weight: 400;
  color: #090909;
  margin-top: 10px;
  padding: 10px;
  margin: auto;
}

.boton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 50px;
  margin-right: 10px;
  outline: none;
  border: none;
}

.containerBotonProjectos {
  outline: none;
}

.boton span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
  outline: none;
  font-weight: bold;
}

.boton.link {
  background: none;
  color: #000;
  outline: none;
}

.boton.link svg {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.boton.link rect {
  width: 200px;
  height: 50px;
  stroke: #e15e4a;
  stroke-width: 5px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: 1.2s ease all;
}

.boton.link:hover rect {
  stroke-dashoffset: 0;
  filter: drop-shadow(0 0 0.75rem #e15e4a);
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 768px) {
  .projects {
    flex-direction: column;
  }
  .columnasProjectos {
    flex-direction: column;
  }
  .leftColumn {
    position: relative;
    top: 0;
    margin-left: 0;
    height: 100%;
  }
  .rightColumn {
    margin-right: 0;
  }
  .numeroProject {
    margin-left: 0;
  }
  .tituloProject {
    font-size: 1.5rem;
  }
  .descripcionProject {
    font-size: 1rem;
  }
  .skillsProjecto {
    font-size: 1rem;
  }
  .linksProjecto {
    font-size: 1rem;
  }
}
